<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my-form.css" rel="stylesheet">
    <link href="css/gijgo.min.css" rel="stylesheet">
    <style type="text/css">
        .clearfix:before, .clearfix:after {
            content: "";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            zoom: 1;
        }
    </style>

    <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="js/js.cookie-2.2.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/gijgo.min.js" type="text/javascript"></script>
    <script src="js/messages.zh-cn.min.js" type="text/javascript"></script>
</head>
<body style="text-align: center">
<div id="header"></div>
<div class="text-center">
    <span class="clearfix" style="margin: 20px;">
		<input autofocus class="form-control" id="content" placeholder="查询权限"
               required style="float: left; width: 20%; margin-left: 20px; display: inline;"
               type="text">
		<button class="btn btn-primary" style="float: left; margin-left: 20px;" type="button"
                onclick="sendFuzzyQuery()">模糊查询</button>
	</span>
    <form>
        <div class="form-group row">
            <label class="col-form-label col-sm-1" style="display: inline">选择角色</label>
            <div class="dropdown col-sm-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="userSelector" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">选择
                </button>
                <div class="dropdown-menu" id="users" aria-labelledby="dropdownMenuButton">
                </div>
            </div>

            <div class="col-sm-1">
                <button class="btn btn-primary form-control" onclick="sendFilterQuery();" type="button">查询权限</button>
            </div>

            <div class="col-sm-1">
                <button class="btn btn-primary form-control" onclick="updateAct();" type="button">更新权限</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="updateActModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">更新权限</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="mb">


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                            <button type="button" class="btn btn-primary" onclick="save();">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="text-center" style="margin-top: 50px;">
    <table class="table table-hover" id="act_table" style=" margin-top: 20px; alignment: center">
        <thead>
        <tr>
            <th scope="col">角色名</th>
            <th scope="col">权限名</th>
            <th scope="col">权限描述</th>
        </tr>
        </thead>
        <tbody id="actTableBody">
        </tbody>
    </table>
</div>

</body>

<script src="js/nav.js" type="text/javascript"></script>

<script>
    let manager;
    let content;
    let operator;
    let actTableBody;
    let userSelector;
    let act_list = [];
    let operatorSelected = false;
    let users;
    $(function () {
        actTableBody = $("#actTableBody");
        userSelector = $("#userSelector");
        content = $("#content");
        users = $("#users")
        loadAct();
        sendFuzzyQuery();
    });

    function sendFilterQuery() {
        $.ajax({
            type: "POST",
            url: "api/act/filterSelect",
            data: JSON.stringify({
                "username": operatorSelected ? userSelector.text() : '',
            }),

            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},

            statusCode: {
                200: (resultList) => loadActTable(resultList)
            },

            error: () => alert("未连接到网络，或者无权限")
        })
    }

    function loadAct() {

        $.ajax({
            type: "POST",
            url: "/api/role/selectAll",

            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
            data: JSON.stringify({
                "role": "all"
            }),

            statusCode: {
                200: (resultList) => addAct(resultList)
            },

            error: () => alert("未连接到网络，或者无权限")
        })

    }

    function addAct(resultList) {
        let def = $(`<a class="dropdown-item">选择</a>`);
        def.click(() => userSelector.text("选择"));
        users.append(def);
        resultList.forEach(function (element) {
            let a = $(`<a class="dropdown-item">${element}</a>`);
            a.click(() => userSelector.text(element));
            operatorSelected = true;
            users.append(a);
        });
    }

    function sendFuzzyQuery() {
        $.ajax({
            type: "POST",
            url: "api/act/fuzzyQuery",
            data: JSON.stringify({
                "query": content.val()
            }),

            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},

            statusCode: {
                200: (resultList) => loadActTable(resultList)
            },

            error: () => alert("未连接到网络，或者无权限")
        })
    }





    function loadActTable(resultList) {
        refreshTable(actTableBody, resultList, null, null);
    }

    function changeColor(t) {

        if(t.hasClass('btn btn-primary')) {
            t.attr('class', 'btn btn-secondary');
            act_list.splice(act_list.indexOf(t.text()), 1);
        }else {
            t.attr('class', "btn btn-primary");
            act_list.push(t.text());
        }
    }

    function readAct(actList) {
        $("#mb").empty();
        for (var i = 0; i < actList.length; i++) {
            str = "<button type=\"button\" class=\"btn btn-secondary\"  onclick=\"changeColor($(this));\" >" + actList[i] + "</button>";
            $("#mb").append(str);
        }

    }

    function updateAct() {

        $("#mb").empty();
        act_list = []

        $('#updateActModal').modal('show');

        $.ajax({
            type: "POST",
            url: "/api/function/selectAll",
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
            data: JSON.stringify({
                "role": "all"
            }),
            statusCode: {
                200: function(data){
                    readAct(data)
                },
                error: () => alert("未连接到网络，或者无权限")}
        })

    }

    function isChecked(cb) {
        return cb.is(' :checked');
    }

    function checkedStatuses() {
        return [isChecked(manager), isChecked(operator)];
    }

    function save() {
        let userSelectText = userSelector.text();
        let role = [];
        for(var i = 0; i < act_list.length; i++) {
            role.push(act_list[i]);
        }
        $.ajax({
            type: "POST",
            url: "/api/act/update",
            headers: {'Content-Type': 'application/json;charset=utf8', 'token': getToken()},
            data: JSON.stringify({
                "username": userSelectText,
                "roles": role
            }),
            statusCode: {
                200: () => {
                    signModal.modal('hide');
                    alert('更新成功');}
            },
            error: () => alert("未连接到网络，或者无权限")
        })
    }

</script>

</html>